/* :host {
  animation: fadeIn 0.5s forwards;
  opacity: 0;
} */

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0 0 0;
}

h3 {
  text-align: center;
  margin-bottom: 2rem;
}

a {
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group input {
  height: 40px;
  padding-left: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: large;
}

.form-group label {
  margin-bottom: 0.25rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button {
  border: 1px solid var(--highlight-color);
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  height: 50px;
  color: white;

  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 4px;
  flex: 0 1 45%;
  cursor: pointer;
  margin: 0;
}

button:disabled {
  cursor: default;
}

button.active {
  border-color: var(--highlight-color);
  background-color: var(--highlight-color);
}
button.active:hover {
  background-color: var(--highlight-hover);
  border-color: var(--highlight-hover);
}
button:hover {
  background-color: var(--highlight-hover);
  border-color: var(--highlight-hover);
}
.button-left {
  border-radius: 4px 0 0 4px;
  flex: 1 0;
}
.button-right {
  border-radius: 0 4px 4px 0;
  flex: 1 0;
}

form {
  display: flex;
  flex-direction: column;
}

.login-form[loading] {
  display: none;
}

form button {
  padding: 0.5rem 0.75rem;
  height: 50px;
  max-height: 50px;
  flex: auto;
  background-color: var(--highlight-hover);
  border-color: var(--highlight-hover);
}

form:invalid button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  cursor: not-allowed;
}

#errors {
  --error-color: orange;
  --error-secondary: rgb(255, 225, 170);
  background-color: var(--danger-color);
  padding: 1rem;
  border: 1px solid var(--danger-color);
  border-radius: 4px;
  display: block;
}

#third-party {
  width: 60%;
  margin: 2rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#third-party * {
  width: auto;
  height: 50px;
  margin-bottom: 1rem;
  cursor: pointer;
}

#third-party *:last-child {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  * {
    color: white;
  }
}
