:host {
  --active-user: rgb(99, 255, 47);
}

button {
  border-radius: var(--radius);
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  cursor: pointer;
}

ul {
  margin: 1rem 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#delete-confirm {
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
}

li {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  align-items: center;
  border: 1px var(--secondary-color) solid;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 0.75rem;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  user-select: none;
  -webkit-user-select: none;
}
li:last-child {
  margin-bottom: 0;
}

li .activity {
  position: absolute;
  z-index: 1;
  left: 0.75rem;
  top: 0.75rem;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: min(12px, 3vw);
}

li .online {
  background-color: var(--active-user);
  border-color: var(--active-user);
}
li .away {
  background-color: rgb(255, 247, 0);
  border-color: rgb(255, 247, 0);
}
li .offline {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}
li .new-message {
  background-color: var(--highlight-color);
  border: 3px solid var(--highlight-color);
}

li .contact-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-right: 4px;
  word-wrap: break-word;
  cursor: pointer;
  overflow: hidden;
}
.contact-email h5 {
  font-weight: 400;
}
li .contact-email small {
  text-align: left;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  border-radius: var(--radius);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
}

li .contact-buttons {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
}

li .contact-buttons button {
  flex: 1 1 90%;
  margin: 4px 4px;
}

li .contact-buttons button:disabled {
  background-color: grey;
  border-color: grey;
}

form:invalid button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  cursor: not-allowed;
}

#errors {
  --error-color: orange;
  --error-secondary: rgb(255, 225, 170);
  background-color: var(--danger-color);
  padding: 1rem;
  border: 1px solid var(--danger-color);
  border-radius: 4px;
  display: block;
}
