<div class="card">
  <h2>My Contacts</h2>
  <p *ngIf="this.error" id="errors">{{ this.error }}</p>
  <form (submit)="this.handleAddContactSubmit($event)">
    <input type="email" name="email" required autocomplete="off" />
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
        <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
      </svg>
    </button>
  </form>
  <ul>
    <app-contact *ngFor="let contact of this.contacts; let last = last" [contact]="contact"
      (delete)="this.handlContactTileDeleteClick($event)" [last]="last"></app-contact>
  </ul>
</div>

<base-modal [show]="this.uidToDelete !== ''"
  [attr.modal-title]="'Are you sure you want to delete ' + this.uidToDelete + '?'"
  (modal-closed)="this.handleDeleteModalClosed()">
  <button id="delete-confirm" type="button" class="delete" (click)="this.handleDeleteContact()">Confirm</button>
</base-modal>
