form input {
  padding-left: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
  font-size: large;
  flex: 1;
  outline: none;
}

form button {
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 0;
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
  margin: 0;
  flex: 0 1 20%;
}

form {
  display: flex;
  flex-direction: row;
  height: 50px;
}

button {
  border-radius: var(--radius);
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  cursor: pointer;
}

ul {
  margin: 1rem 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#delete-confirm {
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border: 1px var(--secondary-color) solid;
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 0.75rem;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  user-select: none;
  -webkit-user-select: none;
}
li:last-child {
  margin-bottom: 0;
}

li .activity {
  position: absolute;
  z-index: 1;
  left: 0.75rem;
  top: 0.75rem;
  border: 1px transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: min(12px, 3vw)
}

li .online {
  background-color: rgb(99, 255, 47);
  border-color: rgb(99, 255, 47);
}
li .away {
  background-color: rgb(255, 247, 0);
  border-color: rgb(255, 247, 0);
}
li .offline {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

li span.contact-email {
  flex: 0 0 50%;
  text-align: left;
  padding-right: 4px;
  word-wrap: break-word;
  max-width: 50%;
}

li span.contact-buttons {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
}

li span.contact-buttons button {
  flex: 1 1 90%;
  margin: 4px 4px;
}

form:invalid button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  cursor: not-allowed;
}

#errors {
  --error-color: orange;
  --error-secondary: rgb(255, 225, 170);
  background-color: var(--danger-color);
  padding: 1rem;
  border: 1px solid var(--danger-color);
  border-radius: 4px;
  display: block;
}
