<div class="card">
  <h2>My Contacts</h2>
  <p *ngIf="this.error" id="errors">{{ this.error }}</p>
  <form (submit)="this.handleAddContactSubmit($event)">
    <input type="email" name="email" required autocomplete="off" />
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
        <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z" />
      </svg>
    </button>
  </form>
  <ul>
    <li *ngFor="let contact of this.contacts">
      <span class="activity" [ngClass]="contact.status">{{ contact.status === "unknown" ? "?" : "" }}</span>
      <span class="contact-email">{{ contact.email }}</span>
      <span class="contact-buttons">
        <button [disabled]="contact.status === 'unknown'" type="button" aria-label="audio call"
          (click)="this.handleAudioCallClick(contact.uid)">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
            <path
              d="M39.75 42q-6.1 0-12.125-3T16.8 31.2Q12 26.4 9 20.375 6 14.35 6 8.25q0-.95.65-1.6Q7.3 6 8.25 6h7q.7 0 1.225.475.525.475.675 1.275l1.35 6.3q.1.7-.025 1.275t-.525.975l-5 5.05q2.8 4.65 6.275 8.1Q22.7 32.9 27.1 35.3l4.75-4.9q.5-.55 1.15-.775.65-.225 1.3-.075l5.95 1.3q.75.15 1.25.75T42 33v6.75q0 .95-.65 1.6-.65.65-1.6.65Zm-28.3-23.4 4.05-4.1L14.35 9H9q0 1.95.6 4.275t1.85 5.325ZM29.9 36.75q2.05.95 4.45 1.55 2.4.6 4.65.7v-5.35l-5.15-1.05ZM11.45 18.6ZM29.9 36.75Z" />
          </svg>
        </button>
        <button [disabled]="contact.status === 'unknown'" type="button" aria-label="video call"
          (click)="this.handleVideoCallClick(contact.uid)">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
            <path
              d="M18.6 32h3v-6.6h6.6v-3h-6.6v-6.6h-3v6.6H12v3h6.6ZM7 40q-1.2 0-2.1-.9Q4 38.2 4 37V11q0-1.2.9-2.1Q5.8 8 7 8h26q1.2 0 2.1.9.9.9.9 2.1v10.75l8-8v20.5l-8-8V37q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h26V11H7v26Zm0 0V11v26Z" />
          </svg>
        </button>
        <button class="delete" type="button" (click)="this.handlContactTileDeleteClick(contact.uid)"
          aria-label="delete contact">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0,0,48,48">
            <path
              d="M13.05 42q-1.25 0-2.125-.875T10.05 39V10.5H8v-3h9.4V6h13.2v1.5H40v3h-2.05V39q0 1.2-.9 2.1-.9.9-2.1.9Zm21.9-31.5h-21.9V39h21.9Zm-16.6 24.2h3V14.75h-3Zm8.3 0h3V14.75h-3Zm-13.6-24.2V39Z" />
          </svg>
        </button>
      </span>
    </li>
  </ul>
</div>

<base-modal [show]="this.uidToDelete !== ''"
  [attr.modal-title]="'Are you sure you want to delete ' + this.uidToDelete + '?'"
  (modal-closed)="this.handleDeleteModalClosed()">
  <button id="delete-confirm" type="button" class="delete" (click)="this.handleDeleteContact()">Confirm</button>
</base-modal>
