* {
  box-sizing: border-box;
}
nav {
  padding: 1rem;
  width: 100vw;
  height: 8vh;
  min-height: 50px;
  max-height: 80px;
  background-color: var(--primary-color);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav ul li {
  padding: 0.25rem 1rem;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
nav ul li.clickable {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius);
  cursor: pointer;
}

nav ul li:hover {
  background-color: var();
}

a {
  text-decoration: none;
  color: black;
}

@media (prefers-color-scheme: dark) {
  a {
    color: white;
  }
}
